html,
body {
  padding: 0;
  margin: 0;
	font-family: 'Playfair Display SC', serif;
  background: rgb(94,0,157);
  background: linear-gradient(90deg, rgba(94,0,157,1) 29%, rgba(0,32,149,1) 100%);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
