.page-header {
    margin: 30px;
}

img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 5%;
}

.post-container {
    justify-content: center;
    display: grid;
    margin: 150px 0;
}

.post-button-content-container {
    display: flex;

}

.post-text-content {
    text-align: left;
    
}

.post-button {
    cursor: pointer;
    height: 30px;
    margin-top: 20px;
    color: blue;
}

.heart {
    padding-left: 10px;
    cursor: pointer;
}

.loading {
	font-size: 4em;
	color: grey;
	display: flex;
    justify-content: center;
    margin-top: 350px;
}